<h3>Login</h3>
<div class="card">
    <div class="card-body">
        <form action="/user/login" method="POST">
            <label for="email">Email: </label>
                <input type="text" name="email" class="form-control required">
            <label for="password">Password: </label>
                <input type="password" name="password"class="form-control" required>
            <a href=""><button class="btn btn-success mt-4" type="submit">Login</button></a>
            </form>       
    </div>
</div>