<div class="card">
    <div class="card-body">
        <h1>{{post.title}}</h1>
        <hr>
        <small>{{post.date}}</small>
        <hr>
        <small>{{post.category}}</small>
        <hr>
        <small>{{post.content}}</small>
    </div>
</div>
